{% extends 'base.html' %}

{% block content  %}

<body style="background-color:  rgba(98,82,97,1)">
    <div>
        <br>
        <br>
        <div class="intro">
            <h1>Events</h1>
        </div>
        <a href="{% url 'registerPeople' %}" class="btn btn-light">Register</a>
        <a href="{% url 'registerActivities' %}" class="btn btn-light">Add Activities</a>
        <br>
        <br>
        {% if activities  %}
            <div class="row">
            {% for i in activities %}
                <div class="col-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p>On : {{ i.date }}</p>
                            <br>
                            <p>Registered: </p>
                            <ul>
                                {% for j in people  %}
                                    {% if j.activities_registered.name == i.name %}
                                        <p class="card-text"><li>{{ j.full_name }}</li></p>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p class="text-muted">Nothing to do here</p>
        {% endif %}
    </div>
</body>

{% endblock  %}