{% extends 'base.html' %}

{% load crispy_forms_tags %}

    {% block content  %}
<body style="background-color:  rgba(98,82,97,1)">
    <br>
    <h1 class="col-xl-10 col-lg-10 col-md-10 col-sm-10"> Register </h1>
        <br>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 center">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-light" type="submit" value="Submit">
            </form>
        </div>
</body>
    {% endblock  %}